{#{% extends 'main.html' %}#}
{##}
{#{% block content %}#}
{#    <form method="POST">#}
{#       {% csrf_token %}#}
{#        {{ form.non_field_errors }}#}
{#        <div>#}
{#            <label for="{{ form.name.id_for_label }}">First name:</label>#}
{#            {{ form.first_name }}#}
{#        </div>#}
{#        <div>#}
{#             <label for="{{ form.description.id_for_label }}">Last name:</label>#}
{#            {{form.last_name}}#}
{#            <b style="color: red">{{ form.description.errors }}</b>#}
{#        </div>#}
{#        #}
{#        <button type="submit">Submit</button>#}
{#    </form>#}
{#{% endblock %}#}